.col-2 img ,.col-6 img{
    object-fit: cover;
}
.col-2 img{
    width: 100%;
    aspect-ratio: 2/1;
    filter: blur(0.5);

}
.col-6 img{
    height: 300px;
    aspect-ratio: 1/1;
}
.active{
    filter: blur(0);
}
.col-2 ,.col-6{
    overflow: hidden;
}